*~
autoscan.log
configure.scan
config.guess.dh-orig
config.h
config.log
config.status
config.sub.dh-orig
Makefile
stamp-h1
autom4te.cache
libtool
gst/.deps/
gst/.libs/
gst/Makefile
gst/*.la
gst/*.lo
gst/*.o
src/.deps/
src/.libs/
src/Makefile
src/b25
src/*.la
src/*.lo
src/*.o
